@font-face {
    font-family: "Nunito Light";
    src: url('Nunito-Light.ttf');
}

@font-face {
    font-family: "Nunito Regular";
    src: url('Nunito-Regular.ttf');
}

@font-face {
    font-family: "Nunito Medium";
    src: url('Nunito-Medium.ttf');
}

@font-face {
    font-family: "Nunito SemiBold";
    src: url('Nunito-SemiBold.ttf');
}

@font-face {
    font-family: "Nunito Bold";
    src: url('Nunito-Bold.ttf');
}